.hero{
	margin: 0;
	font-family: system-ui;
}

body {
	font-family: 'Open sans',sans-serif;
	background-image: url("../images/lego.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	color: black;
}

.container{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
