<!doctype html>
<html>
<head>
<title>Programmation web avec Flask</title>
<link rel='stylesheet' type='text/css' href='style.css'>
</head>
<body>
<div class='contenu'>
	<a href='index'>retour à l'index</a><br/><br/>
	<h1>Liste des personnes</h1><br/>
	<div class="lp_table">
		<div class="lp_entetes">
			<div class="lp_entete">Nom</div>
			<div class="lp_entete">Prénom</div>
			<div class="lp_entete">Rôle</div>
		</div>
		<div class="lp_ligne">
				<div class="lp_cellule">Garra</div>
				<div class="lp_cellule">Cyril</div>
				<div class="lp_cellule">HTML</div>
		</div>
		<div class="lp_ligne">
				<div class="lp_cellule">Machin</div>
				<div class="lp_cellule">Truc</div>
				<div class="lp_cellule">Python</div>
			</div>
	</div>
</div>
</body>
</html>
