<!doctype html>
<html>
<head>
<title>Programmation web avec Flask</title>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="style.css") }}'>
</head>
<body>
<div class='contenu'>
	<a href='{{ url_for("index") }}'>retour à l'index</a><br/><br/>
	<h1>Liste des personnes dont le prénom commence par {{ lettre }}</h1><br/>
	<div class="lp_table">
		<div class="lp_entetes">
			<div class="lp_entete">Nom</div>
			<div class="lp_entete">Prénom</div>
			<div class="lp_entete">Rôle</div>
		</div>
		{% for personne in personnes %}
			<div class="lp_ligne">
				<div class="lp_cellule">{{ personne['nom'] }}</div>
				<div class="lp_cellule">{{ personne['prenom'] }}</div>
				<div class="lp_cellule">{% if personne['role']==1 %}BDD{% endif %}{% if personne['role']==2 %}HTML{% endif %}{% if personne['role']==3 %}Python{% endif %}</div>
			</div>
		{% endfor %}
	</div>
</div>
</body>
</html>
